################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AdventOfCode/.vs/AdventOfCode
/AdventOfCode/AdventOfCode/obj
/AdventOfCode/AdventOfCode/bin/Debug/net6.0
/AdventOfCode/AdventOfCode_Day2/bin/Debug/net6.0
/AdventOfCode/AdventOfCode_Day2/obj
/AdventOfCode/.vs/ProjectEvaluation
/AdventOfCode/AdventOfCode_Day3/bin/Debug/net6.0
/AdventOfCode/AdventOfCode_Day3/obj
